<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="facebookAccountModalLabel" i18n="facebookModalAccount.facebookAccount"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-5 col-sm-3">
                        <p><strong i18n="facebookModalAccount.fullName"></strong></p>
                    </div>
                    <div class="col-xs-7 col-sm-5">
                        <p>{{facebookAccountInfo.fullName}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <button class="btn btn-danger" ng-click="disconnectFromFacebook()" i18n="common.disconnect"></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" i18n="common.ok"></button>
            </div>
        </div>
    </div>
</div>